__pycache__/
.venv
.vscode
.pytest_cache
__pycache__
.dockerignore
.bedrock_agentcore.yaml
agents/travel_orchestrator/common
.env
frontend/.prettierignore
.gitignore
.gitkeep

# CDK
cdk/node_modules/
cdk/cdk.out/
cdk/.cdk.staging/
cdk/coverage/
cdk/*.js
cdk/*.d.ts
cdk/!jest.config.js

frontend/.env.development
frontend/.prettierrc
